/**********************************************
*** GENERAL
**********************************************/

*,
*::after ,
*::before
 {
    border: 1px solid red !important;
}


/* this defines what 1 rem is : 1rem = 10px */
html { 
    font-size: 62.5%; 
  
}



.show-popup {
    opacity : 1 !important;
    visibility : visible !important;
}

.popup {
    width: 80rem;
    border: 1px solid #df7979;
    padding: 3rem 2rem; 
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50% , 0%);
    background-color: #f5d6d6;
    color: black;
    z-index: 100;
    border-radius: 1rem;
    opacity: 0;
    visibility: hidden;
    transition:all .25s;
}

.popup__close-container:link,
.popup__close-container:visited {
    position: absolute;
    top :1rem;
    right: 1rem;
}

.popup__close-icon {
    width: 2rem;
}   

.popup h1 {
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
}

.popup h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-style: italic;
}


.popup p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.btn-help:link,
.btn-help:visited {
    position: absolute;
    top:1rem;
    left: 1rem;
    /* background-color: red; */
    border-radius: 50%;
    z-index: 100;
}

.btn-help img {
    width: 6rem;
}


.final-score-form {
    position: absolute;
    top:93%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 1.8rem;
    font-weight: 900;
    display: inline-block;
}

.final-score {
    width: 20rem;
    padding: 1.6rem 0;
    text-align: center;
    font-size: 2.8rem;
    margin:auto 0;
    border:none;
    background-color: rgba(235, 77, 77, 0.141);
}

.final-score:focus {
    outline: none;
}


.final-score-submit {
    width: 10rem;
    height: 3.5rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
}

.final-score-submit:active {
    transform: translateY(-2px);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(img/sky-gb-img.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
   
}

.wrapper {
    width: 100rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 1rem 5rem rgba(0, 0, 0, 0.3);
    overflow: auto;
    border-radius: 1rem;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 60rem;
    padding: 10rem;
}



/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 100;
    margin-top: 2rem;
    margin-bottom: 1rem;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 8rem;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 13rem;
}

/* .active { background-color: #f7f7f7; } */
.active { background-color: lightgoldenrodyellow; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 4.7rem;
    position: absolute;
    color: #EB4D4D;
    top: -.7rem;
    right: 1rem;
    
}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 1.2rem;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #222;
}

.player-current-score {
    font-size: 3rem;
}


button, 
.player-current-box {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}


button:not(:last-child) {
    position: absolute;
    width: 20rem;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:not(:last-child):hover { font-weight: 600; }
button:not(:last-child):hover i { margin-right: 2rem; }

button:not(:last-child):focus {
    outline: none;
}



i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -.4rem;
    transition: margin 0.3s;
}

.dice {
    position: absolute;
    left: 50%;
    top: 17.8rem;
    transform: translateX(-50%);
    height: 10rem;
    box-shadow: 0px 1rem 6rem rgba(0, 0, 0, 0.10);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }



/* ###############################    BUTTONS ################################################################### */


.btn {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.btn::before {
    content: "";
    display: inline-block;
    height: 3rem;
    width: 3rem;
    margin-right: .7rem;
    background-color: rgb(212, 94, 94);
}



.btn-new { top: 4.5rem; }
.btn-new::before {
    -webkit-mask-image: url(img/svg/plus-alt.svg);
    -webkit-mask-size: cover;
    mask-image: url(img/svg/plus-alt.svg);
    mask-size: cover; 
}



.btn-roll { top: 40.3rem;}
.btn-roll::before {
    -webkit-mask-image: url(img/svg/loop.svg);
    -webkit-mask-size: cover;
    mask-image: url(img/svg/loop.svg);
    mask-size: cover; 
}


.btn-hold { top: 46.7rem;}
.btn-hold::before {
    -webkit-mask-image: url(img/svg/download.svg);
    -webkit-mask-size: cover;
    mask-image: url(img/svg/download.svg);
    mask-size: cover; 
}








