

.button {
    padding: 1.3rem 1.9rem;
    background-color: $color-main-theme;
    color: white;
    border:1px solid $color-main-theme;
    text-transform: capitalize;
    margin: 1.8rem 0;
    border-radius: 4px;
    transition: background-color 0.2s;

    &:hover {
        background-color: white;
        color: $color-main-theme;
        border :1px solid $color-main-theme;
    }
}