body {
    font-family: 'Open Sans', sans-serif;
}

.heading-primary {
    font-size: 2.5rem;
    font-weight: 400 ;  
    letter-spacing: .5rem;
}

.para1 {
    font-size: 1.6rem;    
}


.para2 {
    font-size: 1.3rem;
    font-style: italic;
}

.city-name-big {
    font-size: 3rem;
    font-weight: 100 ;  
    letter-spacing: .5rem;
    font-style: italic;
}

.city-name-small {
    font-size: 2.2rem;
    font-weight: 900 ;  
    letter-spacing: .3rem;
    font-style: italic;
    text-transform: capitalize;
}


.date {
    font-size: $default-font-size;
    font-style: italic;
}





















