

.center-elements { text-align: center;}



//Margins ##############################################################

.margin-bottom-extra-small  { margin-bottom: 1rem !important; }
.margin-bottom-small        { margin-bottom: 2rem !important; }
.margin-bottom-medium       { margin-bottom: 4rem !important; }
.margin-bottom-big          { margin-bottom: 6rem !important; }

.color-light { color : $color-main-light;}
.color-dark  { color : $color-main-dark; }