//For grid ###############################################################

$gutter-vertical   : 5rem;
$gutter-horizontal : 5rem;
$grid-width : 105rem;

$default-font-size : 1.6rem;



//Colors ##########################################################
$color-main-theme : #333333;

$color-main-light : #9b9ba8;
$color-main-dark  : #4d4d52 ;