

.section-band {
    padding: 7rem 0;
    background-color:white;


     &__caption {
        color:grey;
        font-size: $default-font-size; 
    } 

    &__picture {
        border-radius: 50%;
        opacity: 0.7;
        transition: all 0.2s;
        &:hover {
            opacity: 1;
        }
    }
    
}

.section-tour-dates {
    background-color: $color-main-theme;
    color: white;
    padding: 7rem 0;

    &__list {
        list-style: none;
        text-align: left;
        z-index: 0;
    }

    &__item {
        padding: 1rem 1rem;
        background-color:white;
        font-size: $default-font-size;
        position: relative;
        &:not(:last-child) { border-bottom: 1px solid $color-main-light; }
        
    }

    &__picture-container {
        overflow: hidden;
        width: 100%;
        margin: 0;
    }

    &__picture {
        width: 100%;
        height: auto;
        transform: scale(1.03);
        transition: all 0.7s;
        opacity: 0.85;
    }

    &__column {
        background-color: white;
    }
    &__column:hover &__picture {
        opacity: 1;
        transform: scale(1.12);
    }

    &__sold-out {
        position: absolute;
        top:50%;
        left:17%;
        transform: translate(-50% , -50%);
    }


}


.section-contact {
    padding: 7rem 0;
    font-size: $default-font-size;
    &__list {
        list-style: none;
    }

    &__item {
        text-decoration: none;
        padding: 1rem 0;

        &:first-child {margin-left: 0.7rem; font-style: oblique;;}
    }

    &__logo {
        line-height: 120%;
        vertical-align: middle;
        margin-right: 0.7rem;
        // border:0.48px solid black;
        // border-radius: 50%;
        padding:0.3rem 0.5rem;
    }
}



.section-map {
    margin-bottom : -.3rem;
    &__border-top {
        border-top: 1px solid $color-main-light;
        width: 44%;
        margin: 0 auto;
        padding-top:7rem;
    }
    &__picture {
        width: 100%;
    }
}



















