


.dropdown {
    position: relative;
    @include clearfix;
    
    &__caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: -.5rem;
        vertical-align: middle;
        /* border-top: 4px dashed; */
        border-top: 5px solid $color-main-light;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        transition: all 0.2s;
    }

    &__list {
        list-style: none;
        position: absolute;
        top:5.6rem;
        right:0;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease-out;
    }

    &:hover  &__list{
        opacity: 1;
        visibility: visible;
    }

    &__item {
        display: block;
        font-size: calc( #{$default-font-size} - 25%);
        width: 100%;
        background-color: lightgray;
        padding: 1rem 2rem;
        // font-weight: ;
        &:hover { background-color: red;}
        &:hover .dropdown__link { color : white;}
    }


    &__link {
        &,
        &:link,
        &:visited {
            width: 100%;
            text-transform: uppercase;
            text-decoration: none;
            color : $color-main-dark;
            transition: all 0.2s;
        }

    }

    
}


